*.jpg binary
*.png binary
*.sln binary
*.vcproj binary
*.exe binary
*.lda binary
*.bin binary
*.imd binary
*.rim binary
*.tap binary
*.dsk binary
*.vhd binary
*.crd binary
*.dck binary
sim_rev.h export-subst

# reStructuredText documents
*.rst text eol=lf whitespace=space-before-tab,tab-in-indent,tabwidth=4,trailing-space

# Document diffs
*.doc  diff=doc
*.docx diff=docx
*.odt  diff=odt
